<li>
    <div class="message_date">
        <h3 class="date text-info">${record.day}</h3>
        <p class="month">${record.month}</p>
    </div>

    <div class="block">
        <div class="tags">
            <a href="" class="tag">
                <span>${record.category}</span>
            </a>
        </div>

        #if(${record.category} == 'learn')
            <div class="block_content">
                <h2 class="title">
                    Learned repository <a href="/repository/${record.repository.full_name}">${record.repository.full_name}</a>
                </h2>
                <div class="byline">
                    <span>${record.time}</span>
                </div>
                <p class="excerpt">${record.repository.description}</p>
            </div>
        #elseif(${record.category} == 'graduate')
            <div class="block_content">
                <h2 class="title">
                    Graduated from the Role ${record.role.name}
                </h2>
                <div class="byline">
                    <span>${record.time}</span>
                </div>
                <p class="excerpt">${record.role.description}</p>
            </div>
        #elseif(${record.category} == 'levelup')
            <div class="block_content">
                <h2 class="title">
                    Upgraded skill ${record.skill.name} to level ${record.skill.level}
                </h2>
                <div class="byline">
                    <span>${record.time}</span>
                </div>
            ##                <p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>
            ##                </p>
            </div>
        #end


    </div>
</li>