<div class="panel">
    <a class="panel-heading" role="tab" id="heading${index}1" data-toggle="collapse" data-parent="#accordion1" href="#collapse${index}1" aria-expanded="true" aria-controls="collapse${index}">
        <h4 class="panel-title">${repo.full_name}</h4>
    </a>
    <div id="collapse${index}1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading${index}">
        <div class="panel-body">
            <h4>
                <a href="/repository/${repo.full_name}">${repo.full_name}</a>
                <a href="${repo.html_url}" style="margin-left: 7px"><i class="fa fa-github"></i></a>
            </h4>
            ${repo.description}
            #parse("/templates/skill/repo_feedbackBar.vm")
        </div>
    </div>
</div>