<hr>
##<span class="pull-right">
##    #if($repo.isLearned=='true')
##        <input type="checkbox" class="flat" checked=""><strong>  learned  </strong>
##    #else
##        <input type="checkbox" class="flat"><strong>  learned  </strong>
##    #end
##</span>

    <ul class="nav nav-pills" role="tablist">
        <li role="presentation">
            #if($repo.isLearned=='true')
                <a href="javascript:submitLearn('${repo.full_name}');">learned</a>
            #else
                <a href="javascript:submitLearn('${repo.full_name}');">learned</a>
            #end
        </li>
        <li role="presentation" class="dropdown">
            <a id="drop6" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                feedback
                <span class="caret"></span>
            </a>
            <ul id="menu3" class="dropdown-menu animated fadeInDown" role="menu" aria-labelledby="drop6">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="javascript:submitReport(${repo.full_name});">Bad repository for the skill</a>
                </li>
##                <li role="presentation" class="divider"></li>
##                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/fat">Separated link</a>
                </li>
            </ul>
        </li>
    </ul>

