<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:component-scan base-package="edu.nju.controller"></context:component-scan>
    <mvc:annotation-driven/>

    <!--<context:component-scan base-package="edu.nju.data.task" />-->
    <!--<task:annotation-driven />-->

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/skill/**"/>
            <mvc:mapping path="/repository/**"/>
            <bean class="edu.nju.controller.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>


    <mvc:resources mapping="/css/**" location="classpath:css/" />
    <mvc:resources mapping="/vendors/**" location="classpath:vendors/" />
    <mvc:resources mapping="/js/**" location="classpath:js/" />
    <mvc:resources mapping="/images/**" location="classpath:images/" />
    <mvc:resources mapping="/build/**" location="classpath:build/" />

    <bean id="velocityConfigurer"
          class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
        <property name="resourceLoaderPath" value="templates/" />
        <property name="velocityProperties">
            <props>
                <prop key="input.encoding">utf-8</prop>
                <prop key="output.encoding">utf-8</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityViewResolver"
          class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
        <property name="prefix" value="templates/" />
        <property name="suffix" value=".vm" />
        <property name="contentType" value="text/html;charset=utf-8" />
    </bean>

    <bean id="placeholderConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="fileEncoding" value="UTF-8" />
        <property name="location" value="classpath:application.properties" />
    </bean>

</beans>