<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Forest!</title>
    #parse("/templates/common/header.vm")

    <style>
        #header {
            box-shadow: none;
            background-color: transparent;
            /*position: absolute;*/
            width: 100%;
        }
        .bc_gutters {
            padding: 6%;
        }
        #header .bc_gutters {
            padding-top: 20px;
            padding-bottom: 10px;
        }
        .bc_position {
            width: auto;
            padding: 0px;
            /* text-align: left; */
            margin: 0 auto;
            max-width: 1300px;
        }
        #header_left {
            display: table-cell;
            float: none;
            padding-right: 20px;
            vertical-align: middle;
            white-space: nowrap;
        }
        #header_right {
            display: table-cell;
            vertical-align: middle;
            width: 1000px;
            float: none;
        }
        #header_left #logo {
            padding-right: 5px;
            position: relative;
            top: 2px;
        }
        #header_left #logo-text {
            font-size: 16px;
            line-height: 16px;
            font-weight: 900;
            color: white;
            text-transform: uppercase;
        }
        #header_right #main-menu-links {
            margin: 0px;
            padding: 0px;
            width: auto;
            list-style: none;
            text-align: right;
            position: relative;
        }
        #header_right #main-menu-links li {
            display: inline-block;
            zoom: 1;
            margin: 0px 5px;
            padding: 0px;
        }
        #header_right #main-menu-links li > a.active, #header_right #main-menu-links li.active-trail > a {
            border-bottom: 3px solid white;
        }
        #header_right #main-menu-links li > a:hover {
            border-bottom: 3px solid white;
        }
        #header_right #main-menu-links li > a {
            display: inline-block;
            zoom: 1;
            font-size: 16px;
            line-height: 16px;
            color: #ffffff;
            text-decoration: none;
            font-weight: 900;
            text-transform: uppercase;
            border-bottom: 3px solid transparent;
            padding-bottom: 4px;
        }
        a, a:visited {
            text-decoration: none;
            outline: none;
        }

        .hero {
            min-height: 900px;
            position: relative;
        }
        .bg {
            min-height: 900px;
            width: 100%;
            position: absolute;
            background: url("/images/bg.jpg") center center;
            background-size: cover;
            z-index: -1;
        }
        .hero-content {
            padding-top: 15%;
        }
        .hero-content p {
            /*font-family: "Courier New", Courier, monospace;*/
            color:#ffffff;
            font-size:18px;
        }

    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div  role="main">
            <div class="">
                <div class="bg"></div>
                #parse("/templates/landing_header.vm")

                <div class="hero">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center hero-content">
                                <div align="center"><img src="/images/logo_big.png" style="width: 36%"/></div>
                                <p>Choose a role as your goal & learn specific skills you need</p>
                                <br><br><br><br><br>
                                <a href="/select" type="button" class="btn btn-success btn-lg">   Get Started   </a>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            </div>
        <!-- /page content -->
##        #parse("/templates/common/footer.vm")
        </div>
    </div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

</body>
</html>