<div id="header">
    <div class="background">
        <div class="bc_position">
            <div class="bc_gutters">
                <div id="header_left">
                    <a href="/" title="Home">
                        <span id="logo"><i class="fa fa-tree fa-2x"></i></span>
                        <span id="logo-text">Forest</span>
                    </a>
                </div>

                <div id="header_right">

                    <ul id="main-menu-links">
                        <li class="first active"><a href="#" class="active">Welcome</a></li>
                        <li><a href="#about" title="">About</a></li>
                        <li><a href="github.com/A617/Forest">Github</a></li>
                        <li class="last"><a href="/login">Sign in</a></li>
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
##<a href="#" title="">About</a>