<!DOCTYPE html>
<html>
<head>
    #parse("/templates/common/header.vm")
    <!-- iCheck -->
    <link href="/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <title>${repo.full_name}</title>

</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        #parse("/templates/common/left_nav.vm")
        #parse("/templates/common/top_nav.vm")

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3><a href="${repo.html_url}">${repo.full_name}  <i class="fa fa-github"></i></a></small></h3>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
##                                <h2></h2>
                                <div class="clearfix"></div>
                            </div>

                            <div class="x_content">

                                <div class="col-md-9 col-sm-9 col-xs-12">

                                    <ul class="stats-overview">
                                        <li>
                                            <span class="name"> Size </span>
                                            <span class="value text-success"> ${repo.size} </span>
                                        </li>
                                        <li>
                                            <span class="name"> Stargazers </span>
                                            <span class="value text-success"> ${repo.stargazers_count} </span>
                                        </li>
                                        <li class="hidden-phone">
                                            <span class="name"> Forks </span>
                                            <span class="value text-success"> ${repo.forks_count} </span>
                                        </li>
                                    </ul>
                                    <br />

                                    <div>
                                        #parse("/templates/repository/chart.vm")
                                    </div>

                                    <br>

                                    <div>

                                        <h4>Recent Activity</h4><br>

                                        <!-- end of user messages -->
                                        <ul class="messages">
                                            #foreach($record in $learn)
                                                #parse("/templates/repository/learnActivity.vm")
                                            #end
                                        </ul>
                                        <!-- end of user messages -->
                                    </div>
                                </div>

                                <!-- start project-detail sidebar -->
                                <div class="col-md-3 col-sm-3 col-xs-12">

                                    <section class="panel">

                                        <div class="x_title">
                                            <h2 style="margin-top: 8px;margin-bottom: 14px">Repository Description</h2>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="panel-body">
                                            <h3 class="green" style="margin-top: 2px;">${repo.full_name}</h3>

                                            <p>${repo.description}</p>
                                            <br />

                                            <div class="project_detail">

                                                <p class="title">Language</p>
                                                <p>${repo.language}</p>
                                                <p class="title">Created at</p>
                                                <p>${repo.created_at}</p>
                                            </div>

                                            <br />
                                        </div>

                                    </section>

                                </div>
                                <!-- end project-detail sidebar -->

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->
        #parse("/templates/common/footer.vm")
    </div>
</div>
<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="/build/js/custom.min.js"></script>
<script src="/js/echarts.min.js"></script>

<script>
    $(document).ready(function () {
        var myChart1 = echarts.init(document.getElementById('codeFrequency'));

        myChart1.showLoading({
            text: 'Loading...',
            effect: 'spin',
            textStyle: {
                fontSize: 25
            }
        });
        var url = "/repo/" + $("title").html() +"/code_frequency";
        $.ajax({
            //请求方式为get
            type: "GET",
            url: url,
            dataType: "json",
            success: function (obj) {

                myChart1.hideLoading();
                var data = [];
                var week = [];
                for (var i = 1; i < obj.length + 1; i++) {
                    week.push("week"+i);
                    data.push(obj[i - 1][1] - obj[i - 1][2]);
                }

                option = {
                    xAxis: {
                        type: 'category',
                        boundaryGap: false,
                        data: week
                    },
                    yAxis: {
                        type: 'value',
                        boundaryGap: [0, '100%']
                    },
                    series: [
                        {
                            name: 'additions',
                            type: 'line',
                            smooth: true,
                            symbol: 'none',
                            sampling: 'average',
                            areaStyle: {
                                normal: {
                                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [{
                                        offset: 0,
                                        color: 'rgb(255, 158, 68)'
                                    }, {
                                        offset: 1,
                                        color: 'rgb(255, 70, 131)'
                                    }])
                                }
                            },
                            data: data
                        }
                    ]
                };
                myChart1.setOption(option);
            }
        });
    });
</script>
</body>
</html>