<!DOCTYPE html>
<html lang="en">
<head>
    #parse("/templates/common/header.vm")
    <title>Roles | Forest</title>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        #parse("/templates/common/left_nav.vm")
        #parse("/templates/common/top_nav.vm")


        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Start your Forest from here! </h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="x_panel">
##                            <div class="x_title">
##                                <h2>Select a role as your goal</h2>
##                                <ul class="nav navbar-right panel_toolbox">
##                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
##                                    </li>
##                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
##                                    </li>
##                                </ul>
##                                <div class="clearfix"></div>
##                            </div>
                            <div class="x_content">

                                <div class="bs-glyphicons">
                                    <ul class="bs-glyphicons-list">
                                    #foreach($role in $roles)
                                        <li>
                                            <a href="/goal/${role.id}" title="${role.name}">
                                                <span class="glyphicon glyphicon-king" style="font-size: 2.6em;" aria-hidden="true"></span>
                                                <span class="glyphicon-class" style="font-size: 1.4em;">${role.name}</span>
                                            </a>

                                        </li>
                                    #end
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page content -->

        #parse("/templates/common/footer.vm")
    </div>
</div>

<!-- jQuery -->
<script src="../vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="../vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="../vendors/nprogress/nprogress.js"></script>
<!-- jQuery custom content scroller -->
<script src="../vendors/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="../build/js/custom.min.js"></script>

</body>
</html>