<!DOCTYPE html>
<html lang="en">
<head>
    #parse("/templates/common/header.vm")
    <title>${skill.name} | Forest</title>
    #set($nextLevel = ${skill.level} + 1)
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        #parse("/templates/common/left_nav.vm")
        #parse("/templates/common/top_nav.vm")

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>${skill.name} <small>level ${skill.level}</small></h3>
                    </div>

                ##                    <div class="title_right">
                ##                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                ##                            <div class="input-group">
                ##                                <input type="text" class="form-control" placeholder="Search for...">
                ##                    <span class="input-group-btn">
                ##                      <button class="btn btn-default" type="button">Go!</button>
                ##                    </span>
                ##                            </div>
                ##                        </div>
                ##                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <!-- Start to do list -->
                    <div class="col-md-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Repositories</h2>
                                <ul class="nav navbar-right panel_toolbox">
                                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                    </li>
##                                    <li class="dropdown">
##                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
##                                        <ul class="dropdown-menu" role="menu">
##                                            <li><a href="#">Settings 1</a>
##                                            </li>
##                                            <li><a href="#">Settings 2</a>
##                                            </li>
##                                        </ul>
##                                    </li>
                                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                                    </li>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">

                                <div class="to_do accordion" id="accordion" role="tablist" aria-multiselectable="true">
                                    #set($numbers=['','One','Two','Three','Four','Five','Six','Seven','Eight','Nine','Ten'])
                                    #foreach($repo in $repos)
                                    #set($index=$numbers[$velocityCount])
                                    #if($repo.isLearned==false)
                                        #parse("/templates/skill/repo_brief.vm")
                                    #else
                                        #parse("/templates/skill/repo_brief_collapsed.vm")
                                    #end
                                #end
                                </div>
                                <br>

                                <!-- Small modal -->
                                <center><button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm">${skill.name} level up!</button>
                                </center>
                                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                </button>
                                                <h4 class="modal-title" id="myModalLabel2">${skill.name} level up</h4>
                                            </div>
                                            <div class="modal-body">
                                                <h4>Your will reach <strong>level $nextLevel</strong> !</h4>
                                                <p>After learning all the repositories for ${skill.name} you can uprade your skill level.</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-success" onclick="levelUp('$skill.name');">Level up</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- End to do list -->
                </div>
            </div>
        </div>
        <!-- page content -->

        #parse("/templates/common/footer.vm")
    </div>
</div>

<!-- jQuery -->
<script src="/vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="/vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="/vendors/nprogress/nprogress.js"></script>
<!-- bootstrap-progressbar -->
<script src="/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>

<!-- Custom Theme Scripts -->
<script src="/build/js/custom.min.js"></script>

<script>
    function submitLearn(repoName) {
        jQuery.post("/repository/learn",
                {
                    repoName:repoName,
                },
                function(data,status){
                    if(data==true)
                            location.reload();
                });
    }

    function submitReport(repoName) {
        jQuery.post("/repository/report",
                {
                    repoName:repoName,
                },
                function(data,status){
                    console.log(data,status);
                    if(data==true)
                        location.reload();
                });

    }

    function levelUp(skillName) {
        jQuery.post("/skill/levelup",
                {
                    skillName:skillName
                },
                function(data,status){
                    if(data==true)
                        location.href = "/skill/$skill.name/$nextLevel";
                });

    }
</script>

</body>
</html>